.About-main {
  color:red;
}
.Service-main {
  color:orange;
}
.Shop-main {
  color:blueviolet;
}

.Nav-main {
  display: flex;
  min-height: 10vh;
  justify-content: space-around;
  background: rgb(19, 139, 29);
}

.Nav-main ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px;
}

.Nav-main ul li{
  padding-left: 10px;
  color:white;
}

.Nav-main ul li:hover{
  cursor: pointer;
}